In [7]:
import pandas as pd
import numpy as np

In [8]:
capitals = ['New Delhi','Paris','London']
countries = ['India','Paris','England']
arr = np.array(capitals)
dics = {'a':10,'b':20,'c':30}

In [25]:
p3 = pd.Series(data=capitals)
print(p3)
p3[1]

0    New Delhi
1        Paris
2       London
dtype: object

'Paris'

In [23]:
p2 = pd.Series(data=capitals,index=countries,name='Country Capitals')
p2['India']

'New Delhi'

In [22]:
p1 = pd.Series(np.array([1,2,3,4,5,6]))
print(type(p1))

<class 'pandas.core.series.Series'>

In [30]:
p4 = pd.Series(data=dics)
print(p4)
p4['c']

a    10
b    20
c    30
dtype: int64

30

In [31]:
#Shape
p4.shape

(3,)

In [32]:
print(p4['a'])
print(p4['b'])
print(p4['c'])
print(p4[0])
print(p4[1])
print(p4[2])

10
20
30
10
20
30

In [33]:
p4['a':'c']

a    10
b    20
c    30
dtype: int64

In [34]:
p4[0:]

a    10
b    20
c    30
dtype: int64

In [36]:
 p4 + p4

a    20
b    40
c    60
dtype: int64

# DATA FRAME

In [40]:
fruits = ['Apple','Banana','Coconut']
fruits_df = pd.DataFrame(fruits)
print(fruits_df)
fruits_df2 = pd.DataFrame(fruits,columns=['Fruit'])
print(fruits_df2)

         0
0    Apple
1   Banana
2  Coconut
     Fruit
0    Apple
1   Banana
2  Coconut