In [32]:
import pandas as pd

#- Series and DataFrames
my_dict = {"Aditya":31,"Lalitha":26}
countries = ['India','France']
capitals = ['NewDelphi','France']
ratings = [1,2]


print(pd.Series(countries))
print(pd.Series(my_dict))

0     India
1    France
dtype: object
Aditya     31
Lalitha    26
dtype: int64

In [34]:
s1 = pd.Series(data=(capitals,ratings),index=countries,name='Country Capitals')
s1

India     [NewDelphi, France]
France                 [1, 2]
Name: Country Capitals, dtype: object

In [18]:
s1['India']

'NewDelphi'

In [19]:
print(pd.Series(my_dict))

Aditya     31
Lalitha    26
dtype: int64

In [20]:
s1.shape

(2,)

In [21]:
dicts = {'a':10, 'b':20, 'c':30, 'd':40, 'e':50, 'f':60, 'g':70, 'h':80}   # Defining a dictionary

In [26]:
loc = pd.Series(dicts)
loc

a    10
b    20
c    30
d    40
e    50
f    60
g    70
h    80
dtype: int64

In [27]:
loc['a':'c']

a    10
b    20
c    30
dtype: int64

In [30]:
loc[0::2]

a    10
c    30
e    50
g    70
dtype: int64

In [35]:
data = {
     "country" : ['India','Srilanka'],
     "capital" : ['Delhi','coloumbo'],
     "population" : ['1.3B','60L']
}
print(data)

{'country': ['India', 'Srilanka'], 'capital': ['Delhi', 'coloumbo'], 'population': ['1.3B', '60L']}

In [37]:
df = pd.DataFrame(data)
df

    country   capital population
0     India     Delhi       1.3B
1  Srilanka  coloumbo        60L

In [46]:
df = pd.read_csv("C:/Users/USER/Desktop/stocks.csv")
df.shape
df.describe()

            Close        Volume
count    9.000000  9.000000e+00
mean    67.256667  1.924811e+07
std     35.999591  5.132421e+06
min     31.350000  1.180860e+07
25%     31.590000  1.672640e+07
50%     57.420000  1.918950e+07
75%    112.520000  2.145310e+07
max    113.050000  2.973680e+07